/* Enter your custom styles here */

.sapUiFormContainerToolbar > .sapMTB {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: initial;
  padding-left: 50px;
}

.sapUiFormResGridCont {
    padding-bottom: 1rem;
}

.margingeneratebtn{
margin-left: 6rem;
}

.zUiLargeMarginBegin {
  margin-left: 5rem !important;
}
